<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Herbert Braun">
		<title>HTML-Spiel</title>
		<link rel="stylesheet" href="../htmlgame.css">
	</head>
	<body>
		<h1>HTML-Spiel</h1>

		<noscript>This HTML game requires JavaScript.</noscript>

		<main>
			<div class="flex">
				<button v-if="state === 'over'" @click.prevent="restart">Neu starten</button>
				<button v-else @click.prevent="pause" :disabled="pauseDisabled">{{state === 'paused'? 'Fortsetzen' : 'Pause'}}</button>
				<button @click.prevent="state = 'over'" :disabled="state !== 'on'">Aufgeben</button>
			</div>

			<div class="flex">
				<div id="counter">{{done}} von {{todo}}</div>
				<input type="text" autofocus v-model:value="inputValue" :disabled="inputDisabled" @input="handleInput">
				<div id="timer" :class="state">{{minutes}}:{{seconds}}</div>
			</div>

			<output class="green" v-if="html5.length">
				<b>HTML5-Elemente:</b> <span v-for="el in html5" :key="'output-' + el">{{el}}</span>
			</output>
			<output class="blue" v-if="experimental.length">
				<b>Experimentell:</b> <span v-for="el in experimental" :key="'output-' + el">{{el}}</span>
			</output>
			<output class="red" v-if="deprecated.length">
				<b>Veraltet:</b> <span v-for="el in deprecated" :key="'output-' + el">{{el}}</span>
			</output>

			<div v-if="state === 'over'">
				<p><strong>{{html5.length}} reguläre HTML5-Elemente, {{experimental.length}} experimentelle und {{deprecated.length}} veraltete Elemente in {{timeToPlay - time}} Sekunden</strong></p>
				<h3>Ergebnis: {{score}} Punkte</h3>
				<ul v-if="results.length">
					<li v-for="result in results">

						<b>{{result.name}}:</b> {{result.found.length}} von {{result.total}}.
						Gefunden:
						<ul v-if="result.found.length" class="elementlist found">
							<li v-for="element in result.found">
								<code :title="element.role">{{element.name}}</code>
							</li>
						</ul>
						<span v-else>Leider keine!</span>

						Es fehlen:
						<ul v-if="result.missing.length" class="elementlist missing">
							<li v-for="element in result.missing">
								<code :title="element.role">{{element.name}}</code>
							</li>
						</ul>
						<span v-else>Keine &ndash; toll!</span>
					</li>
				</ul>
			</div>

		</main>

		<script src="../node_modules/vue/dist/vue.js"></script>
		<script src="../gamedata.js"></script>
		<script src="htmlgame.js"></script>

	</body>
</html>