<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8"/>
		<meta name="author" content="Herbert Braun"/>
		<title>HTML-Spiel</title>
		<link rel="stylesheet" href="css/htmlgame.css"/>
	</head>
	<body>
		<h1>HTML-Spiel</h1>

		<noscript>This HTML game requires JavaScript.</noscript>

		<main>
			<div class="flex">
				<button v-if="timerState==='over'" @click.prevent="restart">Neu starten</button>
				<button v-else @click.prevent="pause" :disabled="pauseDisabled">{{pauseText}}</button>
				<button @click.prevent="gameOver" :disabled="giveupDisabled">Aufgeben</button>
			</div>

			<div class="flex">
				<div id="counter">{{done}} von {{todo}}</div>
				<input type="text" autofocus v-model:value="inputValue" :disabled="inputDisabled" @input="handleInput">
				<div id="timer" :class="timerState">{{minutes}}:{{seconds}}</div>
			</div>

			<found-elements v-if="els.length" :list="els" color="green">HTML5-Elemente</found-elements>
			<found-elements v-if="experimental.length" :list="experimental" color="blue">Experimentell</found-elements>
			<found-elements v-if="deprecated.length" :list="deprecated" color="red">Veraltet</found-elements>

			<div v-if="timerState === 'over'">
				<p><strong>{{els.length}} reguläre HTML5-Elemente, {{experimental.length}} experimentelle und {{deprecated.length}} veraltete Elemente in {{timeToPlay - time}} Sekunden</strong></p>
				<h3>Ergebnis: {{score}} Punkte</h3>
				<ul v-if="results.length">
					<li v-for="result in results">
						<b>{{result.name}}:</b> {{result.found.length}} von {{result.total}}.
						Gefunden:
						<report-list v-if="result.found.length" :list="result.found" type="found"></report-list>
						<span v-else>Leider keine!</span>
						Es fehlen:
						<report-list v-if="result.missing.length" :list="result.missing" type="missing"></report-list>
						<span v-else>Keine &ndash; toll!</span>
					</li>
				</ul>
			</div>
		</main>

		<script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
		<!--<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>-->
		<script type="text/javascript" src="js/gamedata.js"></script>
		<script type="text/javascript" src="js/htmlgame.js"></script>

		<footer>
			<p>Dieses Spiel ist ein Demo-Projekt für die Programmierung mit <a href="https://vuejs.org/">Vue.js</a>; es wird ausführlich erklärt in einem Tutorial in <a href="http://www.heise.de/ct/">c't</a> Ausgabe 12/18. Das gleiche Projekt wurde bereits mit React umgesetzt (<a href="https://woerter.de/projects/htmlgame/">Demo</a>, <a href="https://github.com/wortwart/htmlgame/">Code</a>), um die beiden Bibliotheken vergleichen zu können. Die Vue.js-Version hat allerdings einige zusätzliche Features.</p>

			<p>Datengrundlage ist die W3C-Empfehlung <a href="https://www.w3.org/TR/2017/REC-html51-20171003/">HTML 5.1-2</a> (Oktober 2017); als experimentell hinzugefügt wurden die in <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML</a> (Stand: Mai 2018) zusätzlich verzeichneten Elemente.</p>

			<p><a href="/">Woerter.de</a> &middot; <a href="/projects/">Andere Projekte</a> &middot; &copy; Herbert Braun 2018</p>
		</footer>

	</body>
</html>